@import "vars";

@mixin adaptive-font($maxSize, $minSize){
    font-size: calc((#{$minSize + px}) + (#{$maxSize - $minSize}) * ((100vw - 375px) / (#{$maxWidthContainerMix} - 375)));
}

@mixin adaptive-marginR($maxSize, $minSize){
    margin-right: calc((#{$minSize + px}) + (#{$maxSize - $minSize}) * ((100vw - 375px) / (#{$maxWidthContainerMix} - 375)));
}
@mixin adaptive-marginL($maxSize, $minSize){
    margin-left: calc((#{$minSize + px}) + (#{$maxSize - $minSize}) * ((100vw - 375px) / (#{$maxWidthContainerMix} - 375)));
}
@mixin adaptive-marginT($maxSize, $minSize){
    margin-top: calc((#{$minSize + px}) + (#{$maxSize - $minSize}) * ((100vw - 375px) / (#{$maxWidthContainerMix} - 375)));
}
@mixin adaptive-marginB($maxSize, $minSize){
    margin-bottom: calc((#{$minSize + px}) + (#{$maxSize - $minSize}) * ((100vw - 375px) / (#{$maxWidthContainerMix} - 375)));
}
@mixin adaptive-height($maxSize, $minSize){
    height: calc((#{$minSize + px}) + (#{$maxSize - $minSize}) * ((100vw - 375px) / (#{$maxWidthContainerMix} - 375)));
}
@mixin adaptive-width($maxSize, $minSize){
    width: calc((#{$minSize + px}) + (#{$maxSize - $minSize}) * ((100vw - 375px) / (#{$maxWidthContainerMix} - 375)));
}
@mixin adaptive-minwidth($maxSize, $minSize){
    min-width: calc((#{$minSize + px}) + (#{$maxSize - $minSize}) * ((100vw - 375px) / (#{$maxWidthContainerMix} - 375)));
}
@mixin adaptive-maxwidth($maxSize, $minSize){
    max-width: calc((#{$minSize + px}) + (#{$maxSize - $minSize}) * ((100vw - 375px) / (#{$maxWidthContainerMix} - 375)));
}
@mixin adaptive-paddingR($maxSize, $minSize){
    padding-right: calc((#{$minSize + px}) + (#{$maxSize - $minSize}) * ((100vw - 375px) / (#{$maxWidthContainerMix} - 375)));
}
@mixin adaptive-paddingL($maxSize, $minSize){
    padding-left: calc((#{$minSize + px}) + (#{$maxSize - $minSize}) * ((100vw - 375px) / (#{$maxWidthContainerMix} - 375)));
}
@mixin adaptive-paddingT($maxSize, $minSize){
    padding-top: calc((#{$minSize + px}) + (#{$maxSize - $minSize}) * ((100vw - 375px) / (#{$maxWidthContainerMix} - 375)));
}
@mixin adaptive-paddingB($maxSize, $minSize){
    padding-bottom: calc((#{$minSize + px}) + (#{$maxSize - $minSize}) * ((100vw - 375px) / (#{$maxWidthContainerMix} - 375)));
}
@mixin adaptive-top($maxSize, $minSize){
    top: calc((#{$minSize + px}) + (#{$maxSize - $minSize}) * ((100vw - 375px) / (#{$maxWidthContainerMix} - 375)));
}
@mixin adaptive-left($maxSize, $minSize){
    left: calc((#{$minSize + px}) + (#{$maxSize - $minSize}) * ((100vw - 375px) / (#{$maxWidthContainerMix} - 375)));
}
@mixin adaptive-right($maxSize, $minSize){
    right: calc((#{$minSize + px}) + (#{$maxSize - $minSize}) * ((100vw - 375px) / (#{$maxWidthContainerMix} - 375)));
}
@mixin adaptive-bottom($maxSize, $minSize){
    bottom: calc((#{$minSize + px}) + (#{$maxSize - $minSize}) * ((100vw - 375px) / (#{$maxWidthContainerMix} - 375)));
}
@mixin adaptive-flex($maxSize, $minSize){
    flex:0 0 calc((#{$minSize + px}) + (#{$maxSize - $minSize}) * ((100vw - 375px) / (#{$maxWidthContainerMix} - 375)));
}
@mixin adaptive-columngap($maxSize, $minSize){
    column-gap: calc((#{$minSize + px}) + (#{$maxSize - $minSize}) * ((100vw - 375px) / (#{$maxWidthContainerMix} - 375)));
}
@mixin adaptive-gap($maxSize, $minSize){
    gap: calc((#{$minSize + px}) + (#{$maxSize - $minSize}) * ((100vw - 375px) / (#{$maxWidthContainerMix} - 375)));
}
@mixin adaptive-padding($maxSize, $minSize){
    padding: calc((#{$minSize + px}) + (#{$maxSize - $minSize}) * ((100vw - 375px) / (#{$maxWidthContainerMix} - 375)));
}

// ---------------------------custom
@mixin adaptive-height755-375($maxSize, $minSize){
    height: calc((#{$minSize + px}) + (#{$maxSize - $minSize}) * ((100vw - 500px) / (755 - 500)));
}
@mixin adaptive-widthContainer-1033($maxSize, $minSize){
    width: calc((#{$minSize + px}) + (#{$maxSize - $minSize}) * ((100vw - 1033px) / (#{$maxWidthContainerMix} - 1033)));
}
@mixin adaptive-width558-375($maxSize, $minSize){
    width: calc((#{$minSize + px}) + (#{$maxSize - $minSize}) * ((100vw - 375px) / (558 - 375)));
}
@mixin adaptive-paddingTop558-375($maxSize, $minSize){
    padding-top: calc((#{$minSize + px}) + (#{$maxSize - $minSize}) * ((100vw - 375px) / (558 - 375)));
}
@mixin adaptive-top558-375($maxSize, $minSize){
    top: calc((#{$minSize + px}) + (#{$maxSize - $minSize}) * ((100vw - 375px) / (558 - 375)));
}
